/*=============== VARIABLES CSS ===============*/
:root {

    /*========== Colors ==========*/
    --main-color: hsl(0, 0%, 97%);
    --sub-color: hsl(0, 0%, 100%);
    --eye-btn-clr : hsl(0, 0%, 0%);
    --img-bg-color: hsl(31, 100%, 70%);
    --button-color: hsl(0, 0%, 17%);
    --button-color-alt: hsl(0, 0%, 8%);
    --title-color: hsl(0, 0%, 11%);
    --text-color: hsl(0, 0%, 18%);

    /* ========== Txt size ========== */
     --main-header-txt: 4vw;
     --sub-header-txt: 34px;
     --header-txt: 25px;
     --intermediat-txt: 20px;
     --higher_txt: 17px;
     --mid-txt:16px;
     --small-txt: 15px;
}

*{
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
}

body{
    overflow-x: hidden;
    background-color: var(--main-color);
    color: var(--text-color);
    width: 99.5vw;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: var(--mid-txt);
}

html{
    scroll-behavior: smooth;
}

/* ========================= Header ========================= */
.header{
    background-color: var(--main-color);
    height: 70px;
    width: 50%;
    margin-bottom: 30px;
    display: flex;
    margin-left: 5%;
    gap: 20px;
}
.three_bar{
    visibility: hidden;
    background-color: var(--main-color);
    font-size: 25px;
    position: relative;
    top: 22px;
    left: -10px;
    width: 30px;
}
.logo_div{
    background-color: var(--main-color);
    display: flex;
}
.Zeitwerk_logo{
    background-color: var(--main-color);
    height: 40px;
    align-self: center;
}
.Zeitwerk_logo_txt{
    background-color: var(--main-color);
    align-self: center;
}
.header_menu{
    background-color: var(--main-color);
    width: 100%;
    align-self: center;
    display: flex;
    justify-content: space-evenly;
}
.header_link{
    background-color: var(--main-color);
    color: var(--eye-btn-clr);
    text-decoration: none;
    font-weight: 600;
}
.home{
    color: #ffb769;
}
.bg_changer{
    background-color: var(--main-color);
    border: 0;
    position: relative;
    left: 117%;
    font-size: 20px;
    background-color: transparent;
}

/* =========================== Home page =========================== */
.homePage{
    background-color: var(--main-color);
    display: flex;
}
.homePage_div1_socialMedia{
    display: flex;
    position: relative;
    transform: rotate(-90deg);
    align-self: center;
    background-color: transparent;
    width: 4%;
    margin-left: 6%;
    margin-right: 9%;
    margin-top: 100px;
}
.homePage_link{
    color: var(--text-color);
    text-decoration: none;
    margin-left: 20px;
    background-color: transparent;
}
.homePage_data{
    background-color: var(--main-color);
    margin-right: 15%;
}
.homePage_heading{
    background-color: var(--main-color);
    color: var(--title-color);
    padding-top: 40px;
    font-size: var(--main-header-txt);
    font-weight: 600;
}
.home_description{
    background-color: var(--main-color);
    font-size: var(--mid-txt);
    font-weight: 600;
    color: var(--text-color);
    margin: 20px 0px 20px 0px;
}
.home_price{
    background-color: var(--main-color);
    font-size: var(--sub-header-txt);
    color: #ffb769;
    margin-bottom: 40px;
    
}
.homePage_img{
    background-color: var(--main-color);
    background-color: #ffb769;
    width: 300px;
}
.homePage_btn{
    background-color: var(--main-color);
    display: flex;
}
.home_discover_btn{
    color: black;
    align-self: center;
    width: 110px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #ababab;
    font-size: var(--higher_txt);
    font-weight: 600;
}
.home_onlineStore_btn{
    width: 151px;
    height: 58px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #2d2d2d;
    color: white;
    font-size: var(--higher_txt);
    font-weight: 600;
}
.homePage_img_div{
    align-self: flex-end;
    position: relative;
    top: -100.4px;
    right: 9%;
    background-color: #ffb769;
    padding: 100px 50px 50px 50px ;
}

/* ===================== Featured page ==================== */

.featured_page{
    background-color: var(--main-color);
    width: 100%;
}
.featured_page_header{
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    margin: 50px 0px 100px 0px;
    font-size: var(--header-txt);
    font-weight: 600;
    color: var(--title-color);
}
.featured_page_sale_btn{
    background-color: #ffb769;
    height: 30px;
    width: 70px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    transform: rotate(-90deg);
    font-weight: 600;
    color: white;
    margin-top: 20px;
}
.featured_page_productList{
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    gap: 20px;  
}
.featured_page_classic_black{
    background-color: var(--sub-color);
    padding-bottom: 20px;
}
.featured_page_productImg_div{
    height: 75%;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5%;
}
.featured_page_productImg{
    width: 300px;
    position: relative;
    background: transparent;
}
.featured_page_productName{
    color: var(--title-color);
    display: flex;
    justify-content: center;
    font-weight: 600;
    background-color: transparent
}
.featured_page_productPrice{
    font-weight: 600;
    font-size: var(--mid-txt);
    color: #ffb769;
    display: flex;
    justify-content: center;
    margin: 20px;
    background-color: transparent;
}
.featured_page_img_div{
    margin-left: 7%;
    width: 35%;
    background-color: #ffb769;
}
.featured_page_content{
    background-color: var(--main-color);
    padding-top: 150px;
    display: flex;
}
.featured_page_img{
    width: 100%;
    position: relative;
    left: 10%;
    top: -40px;
}
.featured_page_content_description{
    background-color: var(--main-color);
    width: 30%;
    padding-top: 40px;
    padding-left: 16%;
}
.featured_page_story{
    background-color: var(--main-color);
    font-size: var(--header-txt);
    color: var(--title-color);
}
.featured_page_story_heading{
    background-color: var(--main-color);
    color: var(--title-color);
    font-size: var(--sub-header-txt);
    margin: 50px 0px 20px 0px;
}
.featured_page_story_description{
    background-color: transparent;
}
.featured_page_discover{
    color: white;
    background-color: #252525;
    width: 100px;
    height: 45px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 4px;
    margin-top: 50px;
}

/* ================ Products page ================ */

.products_page_heading{
    background-color: var(--main-color);
    color: var(--title-color);
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    font-size: var(--sub-header-txt);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 40px;
}
.products_page{
    background-color: var(--main-color);
    margin: 100px;
    grid-row: 3;
}
.products_page_div{
    /* background-color: var(--main-color); */
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin:0% 0%;
    gap: 3%;
}
.products_page_div1_div{
    padding-top: 5%;
    margin-bottom: 3%;
    padding-bottom: 2%;
    background-color: var(--sub-color);
    border-radius: 20px;
}
.products_page_img_div{
    background-color: transparent;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.products_page_img{
    background-color: transparent;
    width: 350px;
}
.classics_pairs_img{
    width: 190px;
    margin: 0px 80px 0px 80px;
}
.roducts_page_img_txt_div{
    background-color: transparent;
    padding-top: 15px;
    height: 15%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.products_page_img_name{
    background-color: transparent;
    color: var(--title-color);
    display: flex;
    justify-content: center;
    font-size: var(--small-txt);
    font-weight: 600;
    align-self: center;
}
.products_page_img_price{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    font-size: var(--higher_txt);
    font-weight: 600;
    background-color: transparent;
    color: #ffb769;
}
.timex_e_class_btn{
    background-color: var(--sub-color);
    border-color: transparent;
    font-size: var(--small-txt);
}

.link{
    display: flex;
    justify-content: flex-end;
    position: relative;
    left: -5%;
    background-color: transparent;
}


/* ============= Artcle : Productas page ============= */

.artcle_page{
    background-color: var(--main-color);
    margin-top: 70px;
    margin-left: 7%;
    margin-right: 7%;
}
.prartcle_page_section_left{
    background-color: var(--main-color);
}
.artcle_page_section_left_1st_icon{
    background-color: var(--main-color);
    font-size: var(--intermediat-txt);
    width: 30px;
    height: 30px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
}
.artcle_page_section{
    display: flex;
}
.artcle_page_section_left_body{
    background-color: var(--main-color);
    width: 70%;
    padding-top: 10px;
}
.artcle_page_section_left_date{
    background-color: var(--main-color);
    padding-top: 50px;
}
.artcle_page_section_left_title{
    background-color: var(--main-color);
    display: flex;
    margin-top: 100px;
}
.artcle_page_section_left_title_img_div{
    background-color: var(--main-color);
}
.artcle_page_section_left_title_img{
    background-color: var(--main-color);
    width: 65px;
    border-radius: 45px;
    margin-right: 20px;
}
.artcle_page_section_left_title_name_and_position{
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.artcle_page_section_left_title_name{
    background-color: var(--main-color);
    font-size: var(--intermediat-txt);
    color: var(--title-color);
    font-weight: 600;
}
.artcle_page_section_left_title_positon{
    background-color: var(--main-color);
}
.artcle_page_section_img_div{
    background-color: #ffb769;
}
.artcle_page_section_img{
    width: 400px;
    position: relative;
    right: 40px;
    top: 40px;
}
.artcle_page_navigation_div{
    background-color: var(--main-color);
    display: flex;
    gap: 100px;
    width: 20%;
    justify-content: center;
}
.artcle_page_navigation{
    background-color: var(--main-color);
    font-size: var(--intermediat-txt);
}
.artcle_move_right{
    background-color: var(--main-color);
    display: none;
    position: relative;
    top: -462px;
    left: 120%;
}
.artcle_move_left{
    background-color: var(--main-color);
    display: none;
    position: relative;
    top: -462px;
    left: -120%;
}
.fa-regular{
    border-radius: 40px;
}

/* ================== New Aeeivals ================== */

.new_arrival{
    background-color: var(--main-color);
    margin: 0% 10%;
    padding: 0px 15px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
    overflow: hidden;
}
.new_arrival_heading{
    background-color: var(--main-color);
    font-size: var(--sub-header-txt);
    font-weight: 600;
    padding-bottom: 80px;
    text-transform: uppercase;
    color: var(--title-color);
}
.new_arrival_products_div{
    background-color: var(--main-color);
    /* display: flex;
    justify-content: center; */
    /* gap: 5%; */
}
.new_arrival_product{
    height: 377px;
    background-color: var(--sub-color);
    border-radius: 15px;
    box-shadow: 0 8px 32px hsla(0, 0%, 10%, .1);
}
.new_arrival_product_new{
    background-color: #febb74;
    padding: 0px 10px;
    font-size: var(--higher_txt);
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 40px;
    position: relative;
    left: 72%;
    top: 10px;
}
.new_arrival_product_img_div{
    background-color: transparent;
}
.new_arrival_product_img{
    width: 50%;
    padding: 0% 25% 0% 25%;
    background-color: transparent;
}
.new_arrival_product_txt_div{
    background-color: transparent;
}
.new_arrival_product_txt_product_name{
    color: var(--title-color);
    display: flex;
    width: 150%;
    position: relative;
    left: -25%;
    margin: 20px 0px 10px 0px;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 600;
    background-color: transparent;
}
.new_arrival_product_txt_cost{
    display: flex;
    justify-content: center;
    font-size: var(--higher_txt);
    font-weight: 600;
    color: #ffb769;
    background-color: transparent;
}
.new_arrival_product_txt_explor{
    visibility: hidden;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px auto;
    height: 50px;
    align-items: center;
    color: transparent;
    width: 100px;
    background-color: transparent;
}

.new_arrival_product5_img{
    margin-top: 13px;
    width: 160px;
}
.new_arrival_product6_img{
    margin-top: 13px;
    width: 155px;
}
.new_arrival_product7_img{
    width: 140px;
    margin-top: 6.5%;
}
.arrival_link{
    text-decoration: none;
}
.fa-solid{
    color: var(--eye-btn-clr);
}

/* =================== Footer =================== */
.footer{
    margin: 7% 7% 0% 7%;
}

/* =================== Footer - Up =================== */
.footer_up{
    background-color: var(--img-bg-color);
    display: flex;
    gap: 5%;
    width: 100%;
}
.footer_description{
    background-color: transparent;
    margin: 5%;
    width: 40%;
}

.footer_description_header{
    color: var(--title-color);
    padding-bottom: 20px;
    background-color: transparent;
    font-size: var(--sub-header-txt);
    font-weight: 600;
}
.footer_description_content{
    background-color: transparent;
}
.footer_up_contact{
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: flex-start;
}
.email_id{
    color: var(--text-color);
    height: 65px;
    width: 300px;
    border-width: 0;
    padding-left: 10px;
    font-size: var(--mid-txt);
}

.subscribe_btn{
    background-color: black;
    color: white;
    text-transform: uppercase;
    height: 65px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--mid-txt);
    font-weight: 600;
}
.footer_down{
    margin-top: 7%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 7%;
}
.footer_down_heading{
    color: var(--title-color);
    font-size: var(--higher_txt);
    margin-bottom: 10%;
}
.footer_down_content{
    line-height: 180%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 100%;
}
.our_info_content{
    line-height: 190%;
}
.about_us_content{
    padding-top: 8px;
}
.product_footer_content{
    padding-top: 17px;
}
.footer_link{
    background-color: transparent;
    text-decoration: none;
    color: var(--text-color);
}
.social_icons{
    display: flex;
    gap: 20px;
}
.footer__copy{
    display: flex;
    justify-content: center;
    margin: 2% 0% 1% 0%;
}

/* ==================== Copy right Section ==================== */
.footer__copy{
    font-family: monospace;
}
.portfolio{
    cursor: pointer;
    border: 0;
    color: var(--text-color);
    font-family: monospace;
}

/* ===================== Up Swipe Btn ===================== */

.fa-solid{
    /* background-color: black; */
}
.fa-solid,
.up_swipe_arrow{
    background-color: transparent;
}
.up_swipe_arrow_div{
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: var(--header-txt);
    margin-left: 95%;
    position: sticky;
    bottom:  22px;
    width: 50px;
    height: 50px;
    background-color: #febb74;
}






/*     < ============== Animation with CSS ============== >    */


/* <========= Featured page hover effect(increase div size) =========> */
/* <==================== For all the 3 divs ====================> */
.featured_page_classic_black:hover{
    box-shadow: 0 8px 32px hsla(0, 0%, 10%, .1);
    transform: scale(1.05,1.05);
    transition: transform 0.8s ease-in 0s;
}


/* <========== Products page hover effect(increase div size) ==========> */
/* <==================== For all the 6 divs ====================> */

.products_page_div1_div:hover{
    box-shadow: 0 8px 32px hsla(0, 0%, 10%, .1);
    transform: scale(1.05,1.05);
    transition: transform 0.8s ease-in 0s;
}
.artcle_page_section1_left_1st_icon{
    box-shadow: 0 8px 32px hsla(0, 0%, 10%, .1);
}


/* <================ New Arrival page hover effect ================> */

/* <==================== New btn Background clr ====================> */

.new_arrival_product:hover .new_arrival_product_new{
    background-color: black;
    transition: all 0.7s ease-out 0s;
}

/* <==================== Product div Background clr ====================> */

.new_arrival_product:hover{
    background-color: var(--img-bg-color);
    padding: 2rem 0 4.5rem 0;
    transition: all 0.4s ease-out 0s;
}

/* <==================== Product cost clr ====================> */

.new_arrival_product:hover .new_arrival_product_txt_cost{
    color: black;
    transition: all 0.7s ease-out 0s;
}

/* <================= Explor btn clr and Backgroung clr ================> */

.new_arrival_product:hover .new_arrival_product_txt_explor{
    visibility: visible;
    background-color: black;
    color: white;
    transition: all 0.8s ease-out 0.26s;
    border: 0;
}

.artcle_move_right_reverce{
    display: flex;
    position: relative;
    top: 0px;
    left: 0%;
    transition: all 5s ease-out 0.3s;
}
.artcle_move_left_reverce{
    display: flex;
    position: relative;
    top: 0px;
    left: 0%;
    transition: all 5s ease-out 0.3s;
}






/* ====================== Responsive ====================== */


@media(max-width: 1225px){
    .artcle_page_section_img_div{
        width: 300px;
        height: 300px;
    }
    .artcle_page_section_img{
        width: 300px;
    }
    .new_arrival{
        margin-top: 60px;
    }
}
@media(max-width: 1171px){
    .new_arrival_product_img_div{
        display: flex;
        justify-content: center;
    }
    .up_swipe_arrow_div{
        margin-left: 93%;
    }
} 
@media(max-width: 1047px) {
    .featured_page_content_description{
        padding-top: 0;
    }
}
@media (max-width: 1004px){
    .homePage_img{
        width: 250px;
    }
}
@media(max-width: 986px){
    .featured_page_classic_black{
        width: 250px;
        height: 400px;
    }
    .featured_page_productImg{
        width: 100%;
    }
    .featured_page_productImg_div{
        height: 60%;
    }
    .footer_up_contact{
        width: 50%;
    }
}
@media (max-width: 950px){
    .homePage_img_div{
        height: 300px;
        position: relative;
        top: -155px;
    }
    .homePage_img{
        width: 200px;
    }
}
@media(max-width: 928px){
    .products_page{
        margin-left: 3%;
        margin-right: 3%;
    }
}
@media (max-width: 875px){
    .header{
        position: relative;
        width: 70vw;
        z-index: 5;
        background-color: transparent;
    }
    .header_link,
    .header_menu{
        background-color: transparent;
    }
    .homePage_img_div{
        height: 260px;
        position: relative;
        top: -160px;
        left: -100px;
    }
    .bg_changer{
        left: 23vw;
    }
    .homePage_img{
        width: 170px;
    }
    .new_arrival_product{
        height: 325px;
    }
    .featured_page_img_div{
        margin-top: 50px;
    }
    .featured_page_discover{
        position: relative;
        right: 130%;
        margin-top: 0;
    }
}
@media (max-width: 830px){
    .homePage_img_div{
        position: relative;
        top: -150px;
        width: 200px;
        height: 210px;
    }
    .homePage_heading{
        position: relative;
        top: -30px;
    }
    .homePage_data{
        width: 273px;
    }
    .home_description{
        background-color: transparent;
        position: relative;
        top: 100px;
        z-index: 1;
        width: 200%;
    }
    .home_price{
        position: relative;
        top: 100px;
    }
    .homePage_btn{
        position: relative;
        top: 100px;
    }
    .featured_page_header{
        margin-top: 200px;
    }
    .products_page_div1_div{
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .products_page_img{
        width: 100%;
    }
    .products_page_img_price{
        margin-top: 0;
    }
    .link{
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
    .classics_pairs_img{
        width: 55%;
    }
    .featured_page_productList{
        flex-direction: column;
        align-items: center;
    }
    .featured_page_classic_black{
        width: 400px;
        height: 570px;
    }
    .featured_page_classic_black_name{
        margin-top: 70px;
        font-size: 20px;
    }
    .featured_page_sale_btn{
        font-size: 18px;
    }
    .featured_page_classic_black_price{
        font-size: 21px;
    }
    .featured_page_content_description{
        padding-left: 70px;
        width: 40%;
        height: 500px;
    }
    .featured_page_discover{
        top: 100px;
        left: -250px;
    }
}
@media (max-width: 811px){
    .prartcle_page_section_left{
        width: 60%;
    }
    .artcle_page_section_left_body {
        width: 80%;
    }
    .artcle_page_section_img_div{
        width: 250px;
        height: 250px;
    }
    .artcle_page_section_img{
    width: 100%;
    }
    .featured_page_discover{
        top: 70px;
    }
    .footer_up{
        display: flex;
        flex-direction: column-reverse;
        padding-top: 50px;
        align-items: center;
    }
    .footer_description,
    .footer_up_contact{
        width: 70%;
    }
    .email_id{
        width: 70%;
    }
}

.hidden{
    display: none;
}

@media (max-width: 781px){
    .new_arrival_product{
        height: 400px;
    }
    .featured_page_discover{
        top: 0px;
    }
    .featured_page_content_description{
        padding-left: 60px;
    }
}
@media (max-width: 725px) {
    .header{
        width: 80%;
    }
    .bg_changer{
        left: 100px;
    }
    .homePage_heading{
        padding-top: 25px;
        width: 160%;
        align-items: center;
    }
    .homePage_img_div{
        height: auto;
        width: auto;
        top: -30px;
        left: -260px;
    }
    .homePage_img{
        width: 300px;
    }
    .homePage_heading{
        font-size: 5vw;
        background-color: transparent;
        position: relative;
        z-index: 2;
    }
    .home_price{
        position: relative;
        top: 80px;
        margin-bottom: 20px;
        font-size: 30px;
    }
    .home_discover_btn,
    .home_onlineStore_btn{
        position: relative;
        top: 0px;
        z-index: 2;
    }
    .home_description{
        position: relative;
        top: 400px;
        left: -6%;
        width: 160%;
    }
    .featured_page_header{
        margin-top: 150px;
    }
    .featured_page_story_heading{
        font-size: 28px;
        margin: 30px 0px 18px 0px;
    }
    .featured_page_discover{
        top: 8vw;
    }
}
@media(max-width: 711px){
    .featured_page_discover{
        top: 0vw;
    }
    .bg_changer{
        left: 60px;
    }
}
@media(max-width: 648px){
    .featured_page_discover{
        top: -8vw;
    }
}
@media(max-width: 640px){
    .bg_changer{
        left: 50px;
    }
    .footer_down{
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 3 divs per row */
        gap: 10px;
    }
    .footer_up_contact{
        display: flex;
        flex-direction: column;
    }
    .email_id{
        width: 120%;
    }
}
@media(max-width: 615px){
    .homePage{
        width: 80vw;
    }
    .home_price{
        top: -40px;
    }
    .home_discover_btn,
    .home_onlineStore_btn{
        position: relative;
        top: -120px;
        z-index: 2;
    }
    .homePage_heading{
        font-size: 6vw;
    }
    .homePage_img_div{
        height: auto;
        width: auto;
        left: -200px;
    }
    .homePage_img{
        width: 40vw;
    }
    .home_description{
        top: 350px;
    }
    .featured_page_header{
        margin-top: 220px;
    }
    .featured_page_discover{
        top: -12vw;
    }
    .artcle_page{
        margin: 7% 3% 0% 4%;
    }
    .artcle_page_section_left_body{
        width: 45vw;
    }
    .artcle_page_section_img_div{
        width: 35vw;
    }
    .artcle_page_section_img{
        width: 35vw;
        left: -23px;
        top: 25px;
    }
    .artcle_page_navigation_div{
        margin-left: 100px;
    }
    .up_swipe_arrow_div{
        margin-left: 90%;
    }
    .footer{
        width: 80%;
        margin: 0% 10% 0% 10%;
    }
}
@media(max-width: 562px){
    .home_price{
        top: 0px;
    }
    .home_onlineStore_btn,
    .home_discover_btn{
        top: -80px;
    }
    .home_description{
        top: 320px;
    }
}
@media (max-width: 541px) {
    .header{
        margin-left: 0;
    }
    .three_bar{
        left: 30px;
        visibility: visible;
    }
    .header_menu{
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: relative;
        left: -320px;
        top: 110px;
        width: 10px;
        padding-bottom: 100px;
        background-color: transparent;
    }
    .home,
    .featured,
    .products,
    .new{
        /* visibility: hidden; */
    }
    .logo_div{
        position: relative;
        left: 9vw;
    }
    .bg_changer{
        top: -143px;
        left: 125vw;
    }
    .featured_page_classic_black{
        width: 300px;
        height: 380px;
    }
    .featured_page_productImg{
        width: 100%;
    }
    .featured_page_productName{
        margin-top: 30px;
        font-size: 16px;
    }
    .featured_page_productPrice{
        font-size: 18px;
        margin-top: 10px;
    }
    .featured_page_content_description{
        height: 450px;
    }
    .featured_page_story_heading{
        font-size: 5vw;
    }
    .featured_page_story_description{
        position: relative;
        top: 20vw;
        left: -40vw;
        width: 200%;
    }
    .featured_page_discover{
        top: -140px;
        left: 9vw;
    }
}
@media(max-width: 516px){
    .bg_changer{
        left: 127vw;
    }
    .footer_description_header{
        font-size: 25px;
    }
}
@media(max-width: 496px){
    .footer__copy{
        margin-bottom: 35px;
    }
}
@media(max-width: 481px){
    .homePage_heading{
        width: 65vw;
    }
    .homePage_img_div{
        height: auto;
        width: auto;
    }
    .homePage_img{
        width: 35vw;
    }
    .home_price{
        top: -100px;
    }
    .home_discover_btn,
    .home_onlineStore_btn{
        top: -20px;
    }
    .home_description{
        left: -5%;
        width: 140%;
    }
    .new_arrival_product_img{
        padding: 0% ;
    }
}
@media(max-width: 475px){
    .bg_changer{
        left: 130vw;
    }
}
@media(max-width: 456px){
    .bg_changer{
        left: 140vw;
    }
    .artcle_page_section_img_div{
        position: relative;
        top: 50px;
    }
    .artcle_page_section_left_date{
        width: 70px;
        position: relative;
        left: 55vw;
        top: -30px;
        padding: 0;
    }
    .artcle_page_section_left_title_name,
    .artcle_page_section_left_title_positon{
        width: 250%;
        position: relative;
        top: -80px;
    }
    .artcle_page_section_left_title_img_div{
        position: relative;
        top: -80px;
    }
    .artcle_page_navigation_div{
        position: relative;
        top: -70px;
    }
}
@media(max-width: 415px){
    .home_price{
        font-size: 20px;
    }
    .homePage_img_div{
        left: -250px;
    }
    .home_discover_btn,
    .home_onlineStore_btn{
        top: -45px;
    }
    .home_description{
        width: 80vw;
    }
}
@media (max-width: 400px) {
    .featured_page_discover{
        top: -160px;
        left: 9vw;
    }
}
@media(max-width: 365px){
    .homePage_img_div{
        left: -250px;
    }
    .home_price{
        font-size: 20px;
    }
    .home_discover_btn,
    .home_onlineStore_btn{
        top: -50px;
    }
    .home_description{
        width: 80vw;
    }
    .featured_page_header{
        margin-top: 300px;
        margin-bottom: 50px;
    }
    .new_arrival_product,
    .new_arrival_product_txt_cost,
    .new_arrival_product_txt_product_name{
        overflow: hidden;
    }
    .up_swipe_arrow_div{
        margin-left: 85vw;
    }
}
@media (max-width: 330px) {
    .bg_changer{
        left: 145vw;
    }
}
@media (max-width: 300px) {
    .bg_changer{
        left: 152vw;
    }
}





.menu_visibile{
    left : -150px;
    width : 100px;
    padding-top : 30px;
    padding-left : 50px;
    padding-right : 50px;
    background-color: #fff4d1d0;
    transition: all 1s ease-in 0s;
}