/*=============== VARIABLES CSS ===============*/
:root {

    /*========== Colors ==========*/
    --main-color: hsl(0, 0%, 97%);
    --sub-color: hsl(0, 0%, 100%);
    --eye-btn-clr : hsl(0, 0%, 0%);
    --img-bg-color: hsl(31, 100%, 70%);
    --button-color: hsl(0, 0%, 17%);
    --button-color-alt: hsl(0, 0%, 8%);
    --title-color: hsl(0, 0%, 11%);
    --text-color: hsl(0, 0%, 18%);

    /* ========== Txt size ========== */
     --main-header-txt: 4vw;
     --sub-header-txt: 34px;
     --header-txt: 25px;
     --intermediat-txt: 20px;
     --higher_txt: 17px;
     --mid-txt:16px;
     --small-txt: 15px;
}

*{
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
}

body{
    overflow-x: hidden;
    background-color: var(--main-color);
    color: var(--text-color);
    width: 99.5vw;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: var(--mid-txt);
}

html{
    scroll-behavior: smooth;
}

/* ========================= Header ========================= */
.header{
    background-color: var(--main-color);
    height: 70px;
    width: 50%;
    margin-bottom: 30px;
    display: flex;
    margin-left: 5%;
    gap: 20px;
}
.three_bar{
    visibility: hidden;
    background-color: var(--main-color);
    font-size: 25px;
    position: relative;
    top: 22px;
    left: -10px;
    width: 30px;
}
.logo_div{
    background-color: var(--main-color);
    display: flex;
}
.Zeitwerk_logo{
    background-color: var(--main-color);
    height: 40px;
    align-self: center;
}
.Zeitwerk_logo_txt{
    background-color: var(--main-color);
    align-self: center;
}
.header_menu{
    background-color: var(--main-color);
    width: 100%;
    align-self: center;
    display: flex;
    justify-content: space-evenly;
}
.header_link{
    background-color: var(--main-color);
    color: var(--eye-btn-clr);
    text-decoration: none;
    font-weight: 600;
}
.home{
    color: #ffb769;
}
.bg_changer{
    background-color: var(--main-color);
    border: 0;
    position: relative;
    left: 117%;
    font-size: 20px;
    background-color: transparent;
}

/* =========================== Home page =========================== */
.homePage{
    background-color: var(--main-color);
    display: flex;
}
.homePage_div1_socialMedia{
    display: flex;
    position: relative;
    transform: rotate(-90deg);
    align-self: center;
    background-color: transparent;
    width: 4%;
    margin-left: 6%;
    margin-right: 9%;
    margin-top: 100px;
}
.homePage_link{
    color: var(--text-color);
    text-decoration: none;
    margin-left: 20px;
    background-color: transparent;
}
.homePage_data{
    background-color: var(--main-color);
    margin-right: 15%;
}
.homePage_heading{
    background-color: var(--main-color);
    color: var(--title-color);
    padding-top: 40px;
    font-size: var(--main-header-txt);
    font-weight: 600;
}
.home_description{
    background-color: var(--main-color);
    font-size: var(--mid-txt);
    font-weight: 600;
    color: var(--text-color);
    margin: 20px 0px 20px 0px;
}
.home_price{
    background-color: var(--main-color);
    font-size: var(--sub-header-txt);
    color: #ffb769;
    margin-bottom: 40px;
    
}
.homePage_img{
    background-color: var(--main-color);
    background-color: #ffb769;
    width: 300px;
}
.homePage_btn{
    background-color: var(--main-color);
    display: flex;
}
.home_discover_btn{
    color: black;
    align-self: center;
    width: 110px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #ababab;
    font-size: var(--higher_txt);
    font-weight: 600;
}
.home_onlineStore_btn{
    width: 151px;
    height: 58px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #2d2d2d;
    color: white;
    font-size: var(--higher_txt);
    font-weight: 600;
}
.homePage_img_div{
    align-self: flex-end;
    position: relative;
    top: -100.4px;
    right: 9%;
    background-color: #ffb769;
    padding: 100px 50px 50px 50px ;
}

/* ===================== Featured page ==================== */

.featured_page{
    background-color: var(--main-color);
    width: 100%;
}
.featured_page_header{
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    margin: 50px 0px 100px 0px;
    font-size: var(--header-txt);
    font-weight: 600;
    color: var(--title-color);
}
.featured_page_sale_btn{
    background-color: #ffb769;
    height: 30px;
    width: 70px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    transform: rotate(-90deg);
    font-weight: 600;
    color: white;
    margin-top: 20px;
}
.featured_page_productList{
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    gap: 20px;  
}
.featured_page_classic_black{
    background-color: var(--sub-color);
    padding-bottom: 20px;
}
.featured_page_productImg_div{
    height: 75%;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5%;
}
.featured_page_productImg{
    width: 300px;
    position: relative;
    background: transparent;
}
.featured_page_productName{
    color: var(--title-color);
    display: flex;
    justify-content: center;
    font-weight: 600;
    background-color: transparent
}
.featured_page_productPrice{
    font-weight: 600;
    font-size: var(--mid-txt);
    color: #ffb769;
    display: flex;
    justify-content: center;
    margin: 20px;
    background-color: transparent;
}
.featured_page_img_div{
    margin-left: 7%;
    width: 35%;
    background-color: #ffb769;
}
.featured_page_content{
    background-color: var(--main-color);
    padding-top: 150px;
    display: flex;
}
.featured_page_img{
    width: 100%;
    position: relative;
    left: 10%;
    top: -40px;
}
.featured_page_content_description{
    background-color: var(--main-color);
    width: 30%;
    padding-top: 40px;
    padding-left: 16%;
}
.featured_page_story{
    background-color: var(--main-color);
    font-size: var(--header-txt);
    color: var(--title-color);
}
.featured_page_story_heading{
    background-color: var(--main-color);
    color: var(--title-color);
    font-size: var(--sub-header-txt);
    margin: 50px 0px 20px 0px;
}
.featured_page_story_description{
    background-color: transparent;
}
.featured_page_discover{
    color: white;
    background-color: #252525;
    width: 100px;
    height: 45px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 4px;
    margin-top: 50px;
}

/* ================ Products page ================ */

.products_page_heading{
    background-color: var(--main-color);
    color: var(--title-color);
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    font-size: var(--sub-header-txt);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 40px;
}
.products_page{
    background-color: var(--main-color);
    margin: 100px;
    grid-row: 3;
}
.products_page_div{
    /* background-color: var(--main-color); */
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin:0% 0%;
    gap: 3%;
}
.products_page_div1_div{
    padding-top: 5%;
    margin-bottom: 3%;
    padding-bottom: 2%;
    background-color: var(--sub-color);
    border-radius: 20px;
}
.products_page_img_div{
    background-color: transparent;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.products_page_img{
    background-color: transparent;
    width: 350px;
}
.classics_pairs_img{
    width: 190px;
    margin: 0px 80px 0px 80px;
}
.roducts_page_img_txt_div{
    background-color: transparent;
    padding-top: 15px;
    height: 15%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.products_page_img_name{
    background-color: transparent;
    color: var(--title-color);
    display: flex;
    justify-content: center;
    font-size: var(--small-txt);
    font-weight: 600;
    align-self: center;
}
.products_page_img_price{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    font-size: var(--higher_txt);
    font-weight: 600;
    background-color: transparent;
    color: #ffb769;
}
.timex_e_class_btn{
    background-color: var(--sub-color);
    border-color: transparent;
    font-size: var(--small-txt);
}

.link{
    display: flex;
    justify-content: flex-end;
    position: relative;
    left: -5%;
    background-color: transparent;
}


/* ============= Artcle : Productas page ============= */

.artcle_page{
    background-color: var(--main-color);
    margin-top: 70px;
    margin-left: 7%;
    margin-right: 7%;
}
.prartcle_page_section_left{
    background-color: var(--main-color);
}
.artcle_page_section_left_1st_icon{
    background-color: var(--main-color);
    font-size: var(--intermediat-txt);
    width: 30px;
    height: 30px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
}
.artcle_page_section{
    display: flex;
}
.artcle_page_section_left_body{
    background-color: var(--main-color);
    width: 70%;
    padding-top: 10px;
}
.artcle_page_section_left_date{
    background-color: var(--main-color);
    padding-top: 50px;
}
.artcle_page_section_left_title{
    background-color: var(--main-color);
    display: flex;
    margin-top: 100px;
}
.artcle_page_section_left_title_img_div{
    background-color: var(--main-color);
}
.artcle_page_section_left_title_img{
    background-color: var(--main-color);
    width: 65px;
    border-radius: 45px;
    margin-right: 20px;
}
.artcle_page_section_left_title_name_and_position{
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.artcle_page_section_left_title_name{
    background-color: var(--main-color);
    font-size: var(--intermediat-txt);
    color: var(--title-color);
    font-weight: 600;
}
.artcle_page_section_left_title_positon{
    background-color: var(--main-color);
}
.artcle_page_section_img_div{
    background-color: #ffb769;
}
.artcle_page_section_img{
    width: 400px;
    position: relative;
    right: 40px;
    top: 40px;
}
.artcle_page_navigation_div{
    background-color: var(--main-color);
    display: flex;
    gap: 100px;
    width: 20%;
    justify-content: center;
}
.artcle_page_navigation{
    background-color: var(--main-color);
    font-size: var(--intermediat-txt);
}
.artcle_move_right{
    background-color: var(--main-color);
    display: none;
    position: relative;
    top: -462px;
    left: 120%;
}
.artcle_move_left{
    background-color: var(--main-color);
    display: none;
    position: relative;
    top: -462px;
    left: -120%;
}
.fa-regular{
    border-radius: 40px;
}

/* ================== New Aeeivals ================== */

.new_arrival{
    background-color: var(--main-color);
    margin: 0% 10%;
    padding: 0px 15px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
    overflow: hidden;
}
.new_arrival_heading{
    background-color: var(--main-color);
    font-size: var(--sub-header-txt);
    font-weight: 600;
    padding-bottom: 80px;
    text-transform: uppercase;
    color: var(--title-color);
}
.new_arrival_products_div{
    background-color: var(--main-color);
    /* display: flex;
    justify-content: center; */
    /* gap: 5%; */
}
.new_arrival_product{
    height: 377px;
    background-color: var(--sub-color);
    border-radius: 15px;
    box-shadow: 0 8px 32px hsla(0, 0%, 10%, .1);
}
.new_arrival_product_new{
    background-color: #febb74;
    padding: 0px 10px;
    font-size: var(--higher_txt);
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 40px;
    position: relative;
    left: 72%;
    top: 10px;
}
.new_arrival_product_img_div{
    background-color: transparent;
}
.new_arrival_product_img{
    width: 50%;
    padding: 0% 25% 0% 25%;
    background-color: transparent;
}
.new_arrival_product_txt_div{
    background-color: transparent;
}
.new_arrival_product_txt_product_name{
    color: var(--title-color);
    display: flex;
    width: 150%;
    position: relative;
    left: -25%;
    margin: 20px 0px 10px 0px;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 600;
    background-color: transparent;
}
.new_arrival_product_txt_cost{
    display: flex;
    justify-content: center;
    font-size: var(--higher_txt);
    font-weight: 600;
    color: #ffb769;
    background-color: transparent;
}
.new_arrival_product_txt_explor{
    visibility: hidden;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px auto;
    height: 50px;
    align-items: center;
    color: transparent;
    width: 100px;
    background-color: transparent;
}

.new_arrival_product5_img{
    margin-top: 13px;
    width: 160px;
}
.new_arrival_product6_img{
    margin-top: 13px;
    width: 155px;
}
.new_arrival_product7_img{
    width: 140px;
    margin-top: 6.5%;
}
.arrival_link{
    text-decoration: none;
}
.fa-solid{
    color: var(--eye-btn-clr);
}


/* =================== Footer =================== */
.footer{
    margin: 7% 7% 0% 7%;
}

/* =================== Footer - Up =================== */
.footer_up{
    background-color: var(--img-bg-color);
    display: flex;
    gap: 5%;
    width: 100%;
}
.footer_description{
    background-color: transparent;
    margin: 5%;
    width: 40%;
}

.footer_description_header{
    color: var(--title-color);
    padding-bottom: 20px;
    background-color: transparent;
    font-size: var(--sub-header-txt);
    font-weight: 600;
}
.footer_description_content{
    background-color: transparent;
}
.footer_up_contact{
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: flex-start;
}
.email_id{
    color: var(--text-color);
    height: 65px;
    width: 300px;
    border-width: 0;
    padding-left: 10px;
    font-size: var(--mid-txt);
}

.subscribe_btn{
    background-color: black;
    color: white;
    text-transform: uppercase;
    height: 65px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--mid-txt);
    font-weight: 600;
}
